.css_ticket_label { }
.css_ticket_line {text-align:left;}
.css_ticket_obj {text-align:left;}
.css_valor_label { }
.css_valor_line {text-align:left;}
.css_valor_obj {text-align:left;}
.css_cliente_label { }
.css_cliente_line { }
.css_cliente_obj { }
.css_telefone_label { }
.css_telefone_line { }
.css_telefone_obj { }
.css_email_label { }
.css_email_line { }
.css_email_obj { }
.css_vendedor_label { }
.css_vendedor_line {text-align:left;}
.css_vendedor_obj {text-align:left;}
.css_imprimir_label { }
.css_imprimir_line { }
.css_imprimir_obj { }
.css_qtde_cupons_label { }
.css_qtde_cupons_line {text-align:left;}
.css_qtde_cupons_obj {text-align:left;}
