.css_ticket_grid_line {vertical-align: top;text-align: center;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_qrcode_grid_line {vertical-align: top;text-align: right;}
.css_cliente_grid_line {vertical-align: top;text-align: right;}
.css_telefone_grid_line {vertical-align: top;text-align: right;}
.css_email_grid_line {vertical-align: top;text-align: right;}
.css_vendedor_grid_line {vertical-align: top;text-align: right;}
