.css_id__label {text-align:;}
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_ticket__label {text-align:;}
.css_ticket__line {text-align:left;}
.css_ticket__obj {text-align:left;}
.css_cliente__label { }
.css_cliente__line { }
.css_cliente__obj { }
.css_vendedor__label {text-align:;}
.css_vendedor__line {text-align:left;}
.css_vendedor__obj {text-align:left;}
.css_imprimir__label { }
.css_imprimir__line { }
.css_imprimir__obj { }
