.css_id_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_vendedor_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_vendedor_grid_line {vertical-align: top;text-align: left;}
